#_auroral-doc-button {
  width: 64px !important;
  height: 64px !important;
  background-color: white !important;
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 1000 !important;
  border-radius: 1000px 0px 0px 0px !important;
  -webkit-box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.75) !important;
}

#_auroral-doc-button::after {
  content: '' !important;
  position: absolute !important;
  bottom: 16px !important;
  right: 12px !important;
  background-image: url('https://cdn.jsdelivr.net/gh/KokolM/auroral-doc/icon-48.png') !important;
  width: 48px !important;
  height: 48px !important;
}

#_auroral-doc-button:hover {
  cursor: pointer !important;
  -webkit-box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.75) !important;
}

#_auroral-doc-panel {
  width: 312px !important;
  height: 400px !important;
  background-color: white !important;
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 1000 !important;
  border-radius: 4px 0px 0px 0px !important;
  -webkit-box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.75) !important;
}

#_auroral-doc-panel a {
  text-decoration: none !important;
  color: #527d80 !important;
}

#_auroral-doc-panel-content {
  padding: 16px !important;
}

._auroral-doc-panel-content-item {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  padding: 12px 16px !important;
  margin-bottom: 8px !important;
  position: relative !important;
}

._auroral-doc-panel-content-item::after {
  content: ' \276F';
  font-size: 20px !important;
  position: absolute !important;
  top: 24px !important;
  right: 12px !important;
}

._auroral-doc-panel-content-title {
  font-size: 1.2em !important;
  margin-bottom: 4px !important;
}

._auroral-doc-panel-content-description {
  color: black !important;
  font-size: 1em !important;
}

#_auroral-doc-panel-header {
  height: 48px !important;
  background-color: #464747 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

#_auroral-doc-panel-title {
  color: white !important;
  padding-left: 12px !important;
}

#_auroral-doc-panel-title::before {
  content: url('https://cdn.jsdelivr.net/gh/KokolM/auroral-doc/icon-24.png') !important;
  width: 24px !important;
  height: 24px !important;
  vertical-align: -30% !important;
  padding: 0 16px 0 4px !important;
}

#_auroral-doc-panel-close {
  width: 16px !important;
  height: 16px !important;
  margin-right: 16px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  cursor: pointer !important;
  text-align: center !important;
  border-radius: 1000px !important;
  color: white !important;
}

#_auroral-doc-panel-contrib {
  position: fixed !important;
  right: 12px !important;
  bottom: 8px !important;
  font-size: 0.8em !important;
}
